<div class="container">
  <h2 class="text-center">Perfect for your next Jäger madness!</h2>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card">
      <div class="card-body cocktail">
        <span class="card-category"><%= cocktail.name %></span>
        <div class="card-description">
          <p>cocktail description coming soon</p>
        </div>
        <%= image_tag "logo.gif" , class: "card-user avatar avatar-md" %>
      </div>
      <div class="card-footer">
        <p><%= cocktail.updated_at %></p>
        <div class="controls">
          <a href="<%= edit_cocktail_path(cocktail.id) %>"><i class="fa fa-pencil-square-o"></i></a>
          <a href="<%= cocktail_path(cocktail.id) %>"><i class="fa fa-list-ul"></i></a>
        </div>
      </div>
    </div>
        <% end %>
    <!-- Code your cards  here -->
  </div>
</div>