<div class="container">
  <h2 class="text-center">Name your Masterpiece</h2>
  <div class="cards">
    <div class="show">
      <div class="form-body">
        <div class="card-description">
        </div>
        <%= simple_form_for(@cocktail) do |f| %>
            <%= f.input :name, required: false,  label: 'Name it...', error: 'You cant leave it un-named', placeholder: 'Jager Bomb'  %>
            <%= f.input :description, label: 'Describe your cocktail...', placeholder: 'All the benefits of achohol and an energy drink!' %>
            <%= f.input :photo, as: :attachinary, label: 'Upload a photo!' %>
            <%= f.button :submit, "Add Maddness", class: "btn btn-primary" %>
        <% end %>
        <p class="requiredd">* required</p>
      </div>
      <div class="form-footer">
        <h5></h5>
        <div class="controls undo-icon">
          <a href="<%= cocktails_path %>"><i class="fa f fa-undo"></i></a>
        </div>
      </div>
    </div>
    <!-- Code your cards  here -->
  </div>
</div>